:root {
  --header-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --light-color: #ffffff;
  --fon-color: #2f303a;
  --team-color: #f5f4fa;
  --border-color: #ececec;
  --icon-color: #afb1b8;
  --border-shadow-color: #eeeeee;
  --hover-portfolio: rgba(33, 150, 243, 0.9);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--header-color);
  background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}



.link {
  text-decoration: none;
  color: var(--header-color);
}

li {
  list-style: none;
}


.flex {
  display: flex;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contact {
  margin-left: auto;
}
